.employee-prod-cards-container {
    background-color: var(--light-purple-bg);
    padding: 2% 5%;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .employee-prod-cards-container {
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .employee-prod-cards-container {
    padding: 10px;
  }
}
