.business-op-cards-container {
    padding: 5px 40px;
}

@media (width <=768px) {
    .business-op-cards-container {
        padding: 10px;
    }
}

@media (width <=480px) {
    .business-op-cards-container {
        padding: 10px;
    }
}