.hero {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 60vh;
    display: flex;
    box-sizing: border-box;
    color: #fff;
    text-align: left;
    font-family: var(--main-font);
    z-index: 0;
}

.hero-content {
    width: 100%;
    max-width: 500px;
    background: linear-gradient(to right, var(--purple), transparent);
    border-radius: 10px;
    z-index: 1;
    padding: 4em;
}

.hero h1 {
    font-size: 60px;
    font-weight: 400;
    line-height: 70px;
    width: 800px;
    margin-bottom: 0px;
}

/* .hero .highlight {
    color: var(--light-green);
} */

.hero p {
    font-size: 1rem;
    margin-bottom: 2rem;
    font-weight: 450;
    line-height: 22px;
}

.cta-button {
    background-color: var(--light-green);
    color: #fff;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.cta-button:hover {
    background-color: white;
    color: var(--light-green);
    border: 2px solid var(--light-green);
}

.additional-line {
    margin-top: -20px;
}

/* Responsive Design */
@media (width <= 1024px) {
    .hero {
        min-height: 50vh;
        background-position: center top;
    }

    .hero-content {
        padding: 5rem;
    }

    .hero h1 {
        font-size: 2.5rem;
    }

    .hero p {
        font-size: 1.1rem;
    }
}

@media (width <= 768px) {
    .hero {
        min-height: 45vh;
    }

    .hero-content {
        padding: 3.75rem;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .cta-button {
        padding: 0.625rem 1.25rem;
        font-size: 1rem;
    }
}

@media (width <= 480px) {
    .hero {
        min-height: 40vh;
    }

    .hero-content {
        padding: 2.5rem;
    }

    .hero h1 {
        font-size: 1.5rem;
    }

    .hero p {
        font-size: 0.95rem;
    }

    .cta-button {
        padding: 0.5rem 1rem;
        font-size: 0.95rem;
    }
}
