.footer-right {
    display: flex;
    gap: 30px;
    flex: 0.25;
}

.footer-left-wrapper {
    flex: 0.8;
}

.footer-right-wrapper {
    display: flex;
    flex: 0.2;
    width: 100%;
    margin-top: 40px;
}

.footer-right-img-1{
    width: 40px;
    height: auto;
}

.footer-right-img-2{
    width: 30px;
    height: 30px;
}

.footer-right-img-3{
    width: 30px;
    height: 30px;
}

.footer-right-img-4{
    width: 40px;
    height: 40px;
    position: relative;
    right: 15px;
    bottom: 8px;
}