.fyb {
  border-radius: 12px;
  font-family: var(--side-font);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fyb-section {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2em;
  gap: 2em;
}

.fyb-title {
  font-size: 2.5em;
  font-weight: bold;
  margin: 0;
}

.fyb-desc {
  font-size: 1.2rem;
  color: #555;
  margin: 0;
}

.fyb-hastag {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--light-green);
  margin: 0;
}

.fyb-apply-now-button,
.fyb-watch-now-button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  max-width: 10em;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.fyb-apply-now-button {
  background-color: var(--light-green);
  color: #fff;
  border: none;
}

.fyb-watch-now-button {
  background-color: #fff;
  color: var(--light-green);
  border: 2px solid var(--light-green);
}

.fyb-watch-now-button:hover {
  background-color: var(--light-green);
  color: #fff;
}

/* Responsive styles */
@media (max-width: 768px) {
  .fyb-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .fyb-title {
    font-size: 1.8em;
  }

  .fyb-desc,
  .fyb-hastag {
    font-size: 1rem;
  }

  .fyb-apply-now-button,
  .fyb-watch-now-button {
    max-width: 100%;
  }
}
