.fyb {
  border-radius: 12px;
  font-family: var(--side-font);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fyb-section {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 60px;
  gap: 2em;
}

.fyb-title {
  font-size: 40px;
  margin: 0;
  font-weight: 700;
  width: 65%;
}

.fyb-apply-now-button,
.fyb-watch-now-button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  max-width: 10em;
  width: 140px;
  box-sizing: border-box;
}

.fyb-apply-now-button {
  background-color: var(--light-green);
  color: white;
  border: 2px solid var(--light-green);
  margin-bottom: 20px;
}

.fyb-watch-now-button {
  background-color: white;
  color: var(--light-green);
  border: 2px solid var(--light-green);
}

.fyb-desc {
  font-size: 22px;
  font-weight: 500;
}

.fyb-hastag {
  font-size: 22px;
  font-weight: 700;
  margin-top: -10px;
}

/* Responsive styles */
@media (width <= 768px) {
  .fyb-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .fyb-title {
    font-size: 1.5em;
  }

  .fyb-apply-now-button,
  .fyb-watch-now-button {
    max-width: 100%;
  }

  .fyb-desc,
  .fyb-hastag {
    font-size: 1rem;
  }
}
