.fyb {
  border-radius: 12px;
  font-family: var(--side-font);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fyb-section {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2em;
  gap: 2em;
}

.fyb-title {
  font-size: 2.5em;
  font-weight: bold;
}

.fyb-apply_now_button,
.fyb-watch_now_button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  max-width: 10em;
  width: 100%;
  box-sizing: border-box;
}

.fyb-apply_now_button {
  background-color: var(--light-green);
  color: white;
  border: none;
}

.fyb-watch_now_button {
  background-color: white;
  color: var(--light-green);
  border: 2px solid var(--light-green);
}

.fyb-desc {
  font-size: 1.2rem;
  color: #555;
}

.fyb-hastag {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--light-green);
}

/* Responsive styles */
@media (max-width: 768px) {
  .fyb-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .fyb-title {
    font-size: 1.5em;
  }

  .fyb-apply_now_button,
  .fyb-watch_now_button {
    max-width: 100%;
  }

  .fyb-desc,
  .fyb-hastag {
    font-size: 1rem;
  }
}
