.promo-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  height: 100%;
}

.promo-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgb(0 0 0 / 10%);
  width: 275px;
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
  flex: 1 1 275px;
}
.card-service{ 
  margin: 0px;
  font-size: 18px;
  font-weight: 500;
  font-family: ProductSansRegular;
}

.card-header {
  background-color: var(--purple);
  color: white;
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: 'HelveticaNeueLT 45';
}

.card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}

.logo-icon {
  font-size: var(--xlarge-body-size);
}

.logo-text {
  font-size: var(--small-body-size);
  color: #555;
}

.service-name {
  font-weight: bold;
  font-size: var(--medium-body-size);
}

.description {
  margin: 20px 0 0 0;
  min-height: 20%;
  font-size: 14px;
}

.upper-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.divider {
  border: none;
  border-top: 1px solid var(--purple);
  margin: 16px 0;
}

.promo-section {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  border-radius: 6px;
}

.promo-icon {
  font-size: 0.625em;
  color: white;
  background-color: var(--purple);
  padding: 10px;
  border-radius: 100%;
}

.promo-text {
  font-size: 14px;
  margin: 0;
  width: calc(100% - 50px);
  font-weight: 450;
  line-height: 16px;
}

.card-buttons {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-top: auto;
  width: 100%;
}

.btn {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  width: 100px;
  height: 40px;
  font-size: 14px;
  font-family: 'HelveticaNeueLT 55 Roman';
}

.btn.primary {
  background-color: var(--light-green);
  color: white;
}

.btn.secondary {
  background-color: transparent;
  border: 2px solid var(--light-green);
  color: var(--light-green);
}

.customer-base-cards-container {
  background-color: var(--green-bg);
  padding: 2% 5%;
}

.card-image {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  border-radius: 10px;
}

.carousel-wrapper {
  position: relative;
  width: calc(100% + 60px); 
  overflow: hidden;
  padding: 20px 0;
  padding-top: 60px;
  margin-left: 20px; 
}

.carousel {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: 10px 0px 10px 40px; 
  scroll-snap-type: x mandatory;
}

.carousel > .promo-card {
  flex: 0 0 auto;
  scroll-snap-align: start;
  width: 285px;
  margin-right: 25px;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 5%;
  transform: translateY(-40%);
  background: var(--purple);
  color: white;
  border: none;
  font-size: 32px;
  cursor: pointer;
  z-index: 1;
  border-radius: 20%;
}

.carousel-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 82%;
}

.carousel-titles{
  margin-bottom: -35px;
}
.carousel-btn.next {
  right: 10px;
  margin-right: 20px;
}

/* Responsive adjustments */
@media (width <= 768px) {
  .carousel {
    padding: 10px 20px;
    gap: 10px;
  }

  .carousel > .promo-card {
    width: 80%;
  }

  .carousel-btn {
    font-size: 1em;
    padding: 8px;
  }

  .customer-base-cards-container {
    padding: 20px;
  }
}

@media (width <= 480px) {
  .promo-wrapper {
    flex-direction: column;
    align-items: stretch;
  }

  .card-buttons {
    width: 100%;
    justify-content: space-between;
  }

  .btn {
    width: 100%;
  }

  .customer-base-cards-container {
    padding: 10px;
  }
}
