footer {
  background-color: var(--purple);
  padding: 20px;
  border: none;
}

.section.footer-left-container.footer-right-container.footer-bottom-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 40px;
}
