.carousel-titles {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 800px;
  padding: 10px 0;
  font-family: var(--main-font);
}

.image-title-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.image-wrapper picture img {
  max-width: 100%;
  width: 52px;
  height: 42px;
}

.title {
  font-size: 2rem;
  color: #222;
}

.description {
  font-size: 1.1rem;
  font-weight: 700;
  margin-left: 10px;
}
