.carousel-titles {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 800px;
  padding: 10px 0;
  font-family: var(--main-font);
}

.image-title-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.image-wrapper picture img {
  width: 52px;
  height: 42px;
  object-fit: contain;
  display: block;
}

.title {
  font-size: 32px;
  font-weight: 700;
  color: #222;
  font-family: 'HelveticaNeueLT 55 Roman';
  margin: 0;
}

.description1 {
  font-size: 16px;
  font-weight: 300;
  margin-left: 10px;
  color: #444;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .title {
    font-size: 1.5rem;
  }

  .description {
    font-size: 1rem;
    margin-left: 0;
  }

  .image-title-container {
    flex-direction: column;
    align-items: center;
  }
}
