@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

:root {
  --light-green: #83c341;
  --purple: #712975;
  --grey-background: #DBEBC0;
  --pink-background: #F2CBE8;
  --main-font: 'HelveticaNeueLT 65';
  --side-font: 'ProductSansRegular';
  --green-bg: #DBEBC0;
  --light-purple-bg: #F2CBE8;
  --big-body-size: 1.1250em;
  --medium-body-size: 1em;
  --small-body-size: 0.8750em;
  --xlarge-body-size: 1.5em;
}

html {
  width: 100%;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

img {
  width: 200px;
  height: 200px;
}

h2 {
  font-family: var(--main-font);
  font-size: 32px;
  font-weight: 700;
  margin: 0;
}

@font-face {
  font-family: 'ProductSansRegular';
  src: url('../fonts/ProductSansRegular.eot');
  src: url('../fonts/ProductSansRegular.eot') format('embedded-opentype'),
       url('../fonts/ProductSansRegular.woff2') format('woff2'),
       url('../fonts/ProductSansRegular.woff') format('woff'),
       url('../fonts/ProductSansRegular.ttf') format('truetype'),
       url('../fonts/ProductSansRegular.svg#ProductSansRegular') format('svg');
}
@font-face {
  font-family: 'ProductSansBold';
  src: url('../fonts/ProductSansBold.eot');
  src: url('../fonts/ProductSansBold.eot') format('embedded-opentype'),
       url('../fonts/ProductSansBold.woff2') format('woff2'),
       url('../fonts/ProductSansBold.woff') format('woff'),
       url('../fonts/ProductSansBold.ttf') format('truetype'),
       url('../fonts/ProductSansBold.svg#ProductSansBold') format('svg');
}
@font-face {
  font-family: 'ProductSansItalic';
  src: url('../fonts/ProductSansItalic.eot');
  src: url('../fonts/ProductSansItalic.eot') format('embedded-opentype'),
       url('../fonts/ProductSansItalic.woff2') format('woff2'),
       url('../fonts/ProductSansItalic.woff') format('woff'),
       url('../fonts/ProductSansItalic.ttf') format('truetype'),
       url('../fonts/ProductSansItalic.svg#ProductSansItalic') format('svg');
}

@font-face {
  font-family: 'HelveticaNeueLT 65';
  src: url('../fonts/HelveticaNeueLT-65Md.eot');
  src: url('../fonts/HelveticaNeueLT-65Md.eot?#iefix') format('embedded-opentype'),
      url('../fonts/HelveticaNeueLT-65Md.woff2') format('woff2'),
      url('../fonts/HelveticaNeueLT-65Md.woff') format('woff'),
      url('../fonts/HelveticaNeueLT-65Md.ttf') format('truetype'),
      url('../fonts/HelveticaNeueLT-65Md.svg#HelveticaNeueLT-65Md') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'HelveticaNeueLT 45';
  src: url('../fonts/HelveticaNeueLT-45Lt.eot');
  src: url('../fonts/HelveticaNeueLT-45Lt.eot?#iefix') format('embedded-opentype'),
      url('../fonts/HelveticaNeueLT-45Lt.woff2') format('woff2'),
      url('../fonts/HelveticaNeueLT-45Lt.woff') format('woff'),
      url('../fonts/HelveticaNeueLT-45Lt.ttf') format('truetype'),
      url('../fonts/HelveticaNeueLT-45Lt.svg#HelveticaNeueLT-45Lt') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueLT 55 Roman';
  src: url('../fonts/HelveticaNeueLT-55Rm.eot');
  src: url('../fonts/HelveticaNeueLT-55Rm.eot?#iefix') format('embedded-opentype'),
      url('../fonts/HelveticaNeueLT-55Rm.woff2') format('woff2'),
      url('../fonts/HelveticaNeueLT-55Rm.woff') format('woff'),
      url('../fonts/HelveticaNeueLT-55Rm.ttf') format('truetype'),
      url('../fonts/HelveticaNeueLT-55Rm.svg#HelveticaNeueLT-55Rm') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}