@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

:root {
  --light-green: #83c341;
  --purple: #712975;
  --grey-background: #DBEBC0;
  --pink-background: #F2CBE8;
  --main-font: 'Helvetica Neue', sans-serif;
  --side-font: "ProductSansRegular", sans-serif;
  --green-bg: #DBEBC0;
  --light-purple-bg: #F2CBE8;
  --big-body-size: 1.1250em;
  --medium-body-size: 1em;
  --small-body-size: 0.8750em;
  --xlarge-body-size: 1.5em;
}

html {
  width: 100%;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

img {
  width: 200px;
  height: 200px;
}

h2 {
  font-family: var(--main-font);
  font-size: 32px;
  font-weight: 700;
  margin: 0;
}
