.footer-bottom{
    text-align: center;
    padding: 20px;
    font-size: 16px;
    color: #ffffff99;
    font-weight: 400;
}
.footer-bottom-text.footer-text-last {
    text-align: center;
    font-size: 12px;
    color: #ffffff99;
    font-weight: 400;
}